<div class="col-sm-6">
  <div class="card">
    <h5 class="card-header">
      <% if log == @good_log %>
        やるべき習慣
      <% else %>
        やめるべき習慣
      <% end %>
    </h5>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <% if log == @good_log %>
          <%= render 'good_habits', goal: goal, good_log: @good_log %>
        <% else %>
          <%= render 'bad_habits', goal: goal, bad_log: @bad_log %>
        <% end %>
      </ul>
    </div>
  </div>
</div>