<div class="text-center">
  <h5>"<%= @goal.name %>"の達成に向けて</h5>
  <h1>「やるべき習慣」を追加しよう</h1>
</div>

<%= render 'layouts/habit_form', goal: @goal, habit: @good_habit %>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= link_to '「やめるべき習慣」の登録に進む', new_goal_bad_habit_path(@goal.id) %>
  </div>
</div>
